@import './variables';

@mixin border-box($border-radius: '') {
    border-radius: $border-radius;
    padding: 16px;
}

@mixin btn-style($border-radius: '', $border-width: '', $border-color: '', $bg-color: '') {
    border: $border-width solid $border-color;
    height: 40px;
    border-radius: $border-radius;
    background: $bg-color;
    font-weight: 600;
}