@import '../../node_modules/font-awesome/scss/font-awesome';
@import './base/reset';
@import './base/typography';
@import './abstracts/mixins';
@import './common/utilities';


body{
    background: $bg-color;
    color: $primary-font-color;

    h1, h2, h3, h4 {
        color: $title-font-color;
        font-size: 1.4rem;
    }

    .btn {
        font-weight: 600;
        font-size: 0.85rem;
        line-height: 40px;
        padding: 0 16px;
        &:hover {
            opacity: 0.9;
        }
        &.btn-primary {
            @include btn-style(4px, 0, $secondary-bg-color, $secondary-bg-color);
        }
        &.btn-secondory {
            @include btn-style(4px, 1px, $secondary-bg-color, #fff);
            color: $secondary-bg-color;
        }
    }
}