@import '../../styles/abstracts/variables';

.task-manager-container {
    display: flex;
    flex-direction: column;
    .task-header {
        display: flex;
        justify-content: space-between;
        h3 {
            display: flex;
            flex-direction: column;
            margin: 16px 0;
            color: $secondary-bg-color;
            span {
                font-size: 1.3rem;
                font-weight: 600;
                color: $title-font-color;
                text-transform: capitalize;
            }
        }
        fa-icon {
            font-size: 1.1rem;
            margin: 16px 4px 0 0;
            color: #000;
            cursor: pointer;
        }
    }
}