@import '../../../../styles/abstracts/variables';

.results-list-wrapper {
    .header-row {
        display: none;

        @media screen and (min-width: $mobile) {
            display: flex;
            line-height: 40px;
            font-weight: 600;
        }
    }

    .results-row {
        padding: 8px 0;
        &:nth-child(even) {
            background: #eee;
            border-top: 1px solid #ddd;
            border-bottom: 1px solid #ddd;
        }
    }

    .cols {
        display: flex;
        &.checkbox {
            .field {
                display: inline-flex;
                margin: 1px 0 0 4px;
            }
            input {
                width: 16px;
                height: 16px;
                cursor: pointer;
            }
        }
    }

    .label {
        flex-basis: 100px;
        align-self: flex-end;
        text-align: right;
        margin: 0 12px 0 0;
        font-weight: 600;

        @media screen and (min-width: $mobile) {
            display: none;
        }
    }
}